.main-content {
  //background-color: #00dfb9;
  .about {
    background-image: url(../../images/Introduction/about.jpg);
    height: 350px;
    text-align: center;
    h2 {
      color: #efefef;
      font-size: 37px;
      padding-top: 170px;
      //background-color: #00dfb9;
    }

  }
  .contents{
    h2{
      margin-top: 50px;
      font-size: 30px;
    }
    .content-summary{
      height: 400px;
      .swiper-slide{
        text-align: center;
        p{
          margin-top: 30px;
        }
      }
    }
    .content-awards{
      height: 450px;
      background-color: #efefef;
      text-align: center;
      h2{
        margin-bottom: 30px;
      }
      .swiper-slide{
        width: 200px;
        height: 260px;
        margin-left: 20px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .quality-content {
      text-align: center;
      h2{
        margin-bottom: 30px;
      }
      height: 550px;
      .content-quality {
        height: 400px;
        width: 1000px;
        .swiper-slide {
          width: 260px;
          height: 370px;
          border-radius: 4px;
          &:nth-of-type(1) {
            background: url("http://www.guyuan-cn.com/UpFiles/image/20160729/20160729101619121912.jpg");
          }
          &:nth-of-type(2) {
            background: url("http://www.guyuan-cn.com/UpFiles/image/20160729/20160729101628892889.jpg");
          }
          &:nth-of-type(3) {
            background: url("http://www.guyuan-cn.com/UpFiles/image/20160729/20160729101720982098.jpg");
          }
          &:nth-of-type(4) {
            background: url("http://www.guyuan-cn.com/UpFiles/image/20160729/20160729101718131813.jpg");
          }
          &:nth-of-type(5) {
            background: url("http://www.guyuan-cn.com/UpFiles/image/20160729/20160729101746984698.jpg");
          }
          &:nth-of-type(6) {
            background: url("http://www.guyuan-cn.com/UpFiles/image/20160729/20160729101771697169.jpg");
          }
        }
      }
    }
    .content-history{
      height: 500px;
      text-align: center;
      background-color: #f8f8f8;
      padding-top: 20px;
      position: relative;
      .swiper-slide {
        margin-top: 30px;
        padding-top: 10px;
        background-color: #003449;
        color: #f8f8f8;
        padding-bottom: 20px;
        h2 {
          margin-bottom: 30px;
        }
        img {
          width: 80%;
          height: 165px;
        }
      }
      .history-pagination{
        bottom: 0px;
        text-align: center;
        background-color: #00dfb9;
        width: 80%;
        margin: 0 auto;
        .swiper-pagination-bullet{
         // margin-left: 100px;
          position: relative;
          span{
            position: absolute;
            left: -12px;
            top: 10px;
          }
        }
      }
    }
  }
  .navigations{
    position: fixed;
    right: 50px;
    z-index: 1000;
    li{
      margin-top: 20px;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background-color: #efefef;
       a{
         width: 8px;
         height: 8px;
         border-radius: 4px;
         //background-color: #00dfb9;
       }
    }
  }
}