.y_case_display {
  width: 100%;
  height: 100%;
 display: table;
}
.section3 {
  display: table;
  padding-top: 70px;
  box-sizing: border-box;
  width: 100%;
  background: url(../../images/whatToDo/1482203408.jpg) no-repeat center center;
}
.y_case_display_content {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.case_titlebox h1{
  font-size: 50px;
  letter-spacing: -3px;
  font-family: TechnicLite;
  color: #00dfb9;
  line-height: 35px;
  margin: 0 0 15px 0;
  padding: 0;
}
.case_titlebox h2 {
  font-size: 25px;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
}

.y_slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.out-slide-box {
  overflow: hidden;
  width: 1260px;
  margin: 50px auto 0 auto;
  position: relative;
  height:275px;
}


.y_slider ul {
  margin: 0 auto;
  width: 1000%;
}

.y_slider_item {
  display: block;
  list-style-type: none;
  margin: 0 20px 0 0;
  padding: 0;
  float: left;
  width: 300px;
  position: relative;
}
.y_slider_item > a {
  display: block;
  height: 266px;
}
.slider_ctrl_out {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -40px;
}
.slider_ctrl_out i:hover,.y_inner_slider_ctrl i:hover {
  color:#00dfb9;
}
.slider_ctrl_out i,.y_inner_slider_ctrl i{
  font-size: 50px;
  line-height: 80px;
  text-align: center;
  cursor: pointer;
  width: 80px;
  color: #a8a8a8;
  z-index: 500;
}
.y_inner_slider_ctrl i {
  width: 36px;
  color: #00dfb9;
}
.y_inner_slider_ctrl {
  width: 100%;
  z-index: 500;
}

.slider_ctrl_out_left,.slider_ctrl_out_right {
  position: absolute;
  top: 0;
  z-index: 200;
}
.y_inner_slider_ctrl-left,.y_inner_slider_ctrl-right {
  position: absolute;
  top: 80px;
}
.slider_ctrl_out_left {
  left: 0;
}
.slider_ctrl_out_right {
  right: 0;
}
.y_inner_slider_ctrl-left {
  left: 0;
}
.y_inner_slider_ctrl-right {
  right: 0;
}



/*inner carousel B*/
.in_slider_man_img {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
.in_slider_man_img span {
  display: block;
  position: relative;
  background-color: rgba(255,255,255,.5);
  text-align: left;
  padding: 15px 20px;
}
.in_slider_man_img span > h3 {
  font-size: 16px;
  font-weight: normal;
  display: block;
  color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  z-index: 500;
}
.in_slider_man_img span > p {
  font-size: 12px;
  display: block;
  color: #888;
  margin: 10px 0 0 0;
  position: relative;
  z-index: 500;
}
//
.y_slider_content_box {
  position: relative;
  width: 100%;
  height: 275px;
  overflow: hidden;
}
.slider-mask {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top:-275px;
  left: 0;
  background-color:rgba(0,0,0,.6);
  z-index: 203;
}
.slider-mask-bottom {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  overflow: hidden;
  top:275px;
  left: 0;
  background-color:#00dfb9;
  z-index: 203;
}
.slider-mask i {
  display: block;
  width: 100%;
  height: 100%;
  //width: 50px;
  //height: 50px;

}
.slider-mask-content {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 67%;
  margin-left: -25px;
  margin-top: -25px;
  background-color: rgba(0,223,185,.6);
  border-radius: 50%;
}
.slider-mask-content .content1 {
  width: 16px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -1px;
  z-index: 500;
}
.slider-mask-content .content2 {
  width: 2px;
  height: 16px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1px;
  margin-top: -8px;
  z-index: 500;
}
.get-more {
  text-align: center;
  margin-top: 30px;
}
.get-more>a{
  border: 1px solid #00dfb9;
  font-family: TechnicLite;
  font-size: 26px;
  font-weight: bold;
  padding: 0 20px;
  color: #00dfb9;
}
.get-more>a:hover {
  color: #fff;
  background-color: #00dfb9;
}
/*inner carousel E*/


@media (max-width: 1500px) {
  //.icon-item h3 {
  //  font-size: 14px;
  //}
  .out-slide-box {
    overflow: hidden;
    width: 940px;
    margin: 50px auto 0 auto;
    position: relative;
    height:275px;
  }
}

@media (max-width: 1179px) {
  //.icon-item h3 {
  //  font-size: 14px;
  //}
  .out-slide-box {
    overflow: hidden;
    width: 620px;
    margin: 50px auto 0 auto;
    position: relative;
    height:275px;
  }

  .slider_ctrl_out_left {
    left: 50px;
  }
  .slider_ctrl_out_right {
    right: 50px;
  }
}
@media (max-width: 900px) {
  .slider_ctrl_out_left {
    left: 20px;
  }
  .slider_ctrl_out_right {
    right: 20px;
  }
}
@media (max-width: 842px) {
  //.icon-item h3 {
  //  font-size: 14px;
  //}
  .out-slide-box {
    overflow: hidden;
    width: 300px;
    margin: 50px auto 0 auto;
    position: relative;
    height:275px;
  }
  //.slider_ctrl_out {
  //  display: none !important;
  //}
}


