.nav {
  transition: 0.5s;
  z-index: 50;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

  text-align: center;
  background-color: #00dfb9;
  .logo {
    position: absolute;
    width: 51px;
    height: 51px;
    left: 50px;
    top: 1px;
    vertical-align: top;
    transition: all .4s ease;
    a {
      font-size: 70px;
      margin-top: 10px;
      :hover {
        text-shadow: 1px 1px 3px white;
      }
    }
    span {
      position: absolute;
      left: 100px;
      top: 0;
      font-size: 22px;
    }
    .nav-mobile {
      display: none;
    }
  }
  .logo:hover {
    transform: rotate(10deg) scale(1.05);
  }
  .logo-down {
    font-size: 40px !important;
  }
  a {
    line-height: 50px;
    transition: all .5s ease;
  }
  /*.nav .slice{*/
  /*height: 3px;*/
  /*width: 80px;*/
  /*background-color: #00dfb9;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 100px;*/
  /*}*/
  .nav-toggle {
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 20;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
    display: none;
    border-radius: 3px;
    -webkit-transition: .3s;
    transition: .3s;
    background-color: #00dfb9;
    .bar {
      position: relative;
      display: block;

      width: 35px;
      height: 3px;

      margin: 8px auto;
      background-color: #fff;

      border-radius: 10px;

      -webkit-transition: .3s;
      transition: .3s;
      :nth-of-type(1) {
        margin-top: 0px;
      }
      :nth-of-type(3) {
        margin-bottom: 0px;
      }
    }
    :hover {
      .bar {
        :nth-of-type(1) {
          -webkit-transform: translateY(1.5px) rotate(-4.5deg);
          -ms-transform: translateY(1.5px) rotate(-4.5deg);
          transform: translateY(1.5px) rotate(-4.5deg);
        }
        :nth-of-type(2) {
          opacity: .9;
        }
        :nth-of-type(3) {
          -webkit-transform: translateY(-1.5px) rotate(4.5deg);
          -ms-transform: translateY(-1.5px) rotate(4.5deg);
          transform: translateY(-1.5px) rotate(4.5deg);
        }

      }
    }
  }
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  li {
    display: inline;
    margin: 0 22px;
  }
  .nav-collapse {
    overflow: hidden;
    height: 0;
    transition: height 1s;
    background-color: transparent;
    padding: 5px 15px;
    position: relative;
    margin-top: 70px;
    z-index: 15;
    a {
      opacity: 0.5;
      padding: 0;
      color: #00334d;
    }
  }
  .collapse-active {
    height: 238px;
  }
}
.nav-Down {
  background-color: rgba(0, 0, 0, .5) !important;
  height: 50px !important;
}
.nav-Up {
  height: 90px;
  background: transparent;
}
#article {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .page {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    overflow: hidden;
  }
  .section1 {
    background-color: #efefef;
    width: 100%;
    height: 100%;
    .swiper-pagination-bullet {
      width: 30px;
      height: 4px;
      border-radius: 1px;
      background-color: white;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background-color: #00dfb9;
    }
    .news {
      text-align: center;
      width: 100%;
      z-index: 100;
      position: absolute;
      bottom: 20px;
      .bottom-news {
        margin: 0 auto;
        width: 293px;
        text-align: left;
        b {
          color: #00dfb9;
          float: left;
          margin-left: 20px;
        }
        .news-text {
          height: 24px;
          .news-item {
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            margin-left: 10px;
            color: #ddd;
            cursor: pointer;
            width: 150px;
            white-space: nowrap;
            overflow: hidden;
            font-size: 14px;
            opacity: 0.8;
            :hover {
              opacity: 1;
              color: white;
            }
          }
        }
      }
    }
    .pages {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 100%;
      -moz-background-size: 100% 100%;
      -webkit-background-size: 100% 100%;
      text-align: center;
      .bk-mode {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .3);
        z-index: 2;
      }
      .contain {
        position: relative;
        word-break: break-all;
        padding: 100px 10px;
        z-index: 99;
        margin-top: 25%;
        transform: translateY(-50%);
          .on21 {
            color: #fff;
            font-size: 36px;
            display: block;
          }
          .on22 {
            color: #00dfb9;
            font-size: 82px;
            font-family: Helvetica;
            letter-spacing: -5px;
            line-height: .8;
            display: inline-block;
            border-bottom: 1px solid #00dfb9;
            margin: 5px 0 10px 0;
          }
          .on23 {
            color: #ccc;
            font-size: 16px;
            display: block;
          }
      }
    }
    .page1 {
      height: 100%;
      background-image: url(../../images/content/1-1.jpg);
      .contain {
        text-align: center;
        .on0 {
          width: 650px;
          margin: 0 auto;
          overflow: hidden;
          text-align: center;
          .on1 {
            float: left;
            margin-left: 40px;
            color: #fff;
            font-family: "Microsoft JhengHei";
            font-size: 180px;
          }
          .on2 {
            float: left;
            margin-top: 50px;
            margin-left: 10px;
            text-align: left;
          }
        }
      }
    }
    .page2 {
      height: 100%;
      background-image: url(../../images/content/1-2.jpg);
    }
    .page3 {
      height: 100%;
      background-image: url(../../images/content/1-3.jpg);
    }
  }
  .section2 {
    .what-we-can-do {
      height: 100%;
      width: 100%;
      background: url('../../images/whatToDo/1482203407.jpg') no-repeat center center;
    }

    .what_do_title > h1 {
      font-size: 50px;
      letter-spacing: -3px;
      font-family: TechnicLite;
      color: #00dfb9;
      line-height: 35px;
      margin: 0 0 15px 0;
      padding: 0;
      text-align: center;
    }

    .iconlist_ul {
      text-align: center;
      display: inline-block;
    }

    .what_do_content {
      position: relative;
      height: 100%;
    }

    .content-box {
      position: absolute;
      width: 100%;
      top: 50%;
      padding: 0;
      margin: 0;
      transform: translateY(-50%);
    }

    .what_do_title > h2 {
      font-size: 25px;
      letter-spacing: 3px;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .icon-list-box {
      padding: 50px 0 70px 0;
      text-align: center;
    }

    .icon-item {
      display: inline-block;
      position: relative;

    }

    .icon-item > a {
      display: inline-block;
      height: 100%;
      width: 100%;
      position: relative;
      z-index: 9;
    }

    .icon-mask {
      display: block;
      content: '';
      width: 170px;
      border-radius: 5px;
      position: absolute;
      top: 15px;
      left: 18px;
      background: #00dfb9;
      z-index: 8;
    }

    .icon-item h3 {
      display: block;
      color: #333;
      margin: 0;
      padding: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center;
      position: relative;
      left: 0;
      top: 0
    }

    .icon-item > a > i {
      height: 130px;
      width: 130px;
      line-height: 120px;
      margin: 30px;
      border: 5px solid #00dfb9;
      border-radius: 50%;
      text-align: center;
      color: #00dfb9;
      background-color: rgba(255, 255, 255, .1);
      font-size: 56px;
    }

    .what_do_bottom-message {
      font-size: 24px;
      line-height: 1;
      font-family: TechnicLite;
      text-align: center;
    }

    .icon-item p {
      text-align: center;
      display: block;
      position: absolute;
      top: 175px;
      width: 100%;
      left: 0;
      color: #fff;
      font-size: 12px;
      height: 36px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      transition: .3s;
      -webkit-transition: .3s;
      opacity: 0;
    }
  }

  //.icon-item > a:hover {
  //  transition: .3s;
  //  transform: translateY(-10px);
  //}
  //.icon-item > a:hover > i {
  //  color:#fff;
  //}
  //.icon-item > a:hover > h3 {
  //  transition: .3s;
  //  transform: translateY(-50px);
  //  color:#eee;
  //}
  .section4 {
    background: url('../../images/content/end-background.jpg') no-repeat center center;
    .bottom {
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      .contain-activites {
        transform: translateY(-60%);
        .swiper4 {
          width: 70%;
          text-align: center;
          .swiper-wrapper {
            .swiper-slide {
              width: 100%;
              text-align: center;
              h3 {
                font-size: 36px;
              }
              div {
                margin: 10px auto;
                p {
                  margin-top: 5px;
                  a {
                    color: #000;
                  }
                }
              }
            }
          }
          .swiper-pagination {
            bottom: -5px;
            display: none;
            .swiper-pagination-bullet {
              width: 10px;
              height: 10px;
              border-radius: 5px;
              background-color: #333333;
              opacity: 1;
            }
            .swiper-pagination-bullet-active {
              background-color: #00dfb9;
            }
          }
        }
      }
      .contain-bottom {
        background-color: #393939;
        width: 100%;
        padding-bottom: 10px;
        .bottom-div {
          width: 800px;
          margin: 0 auto;
          height: 150px;
          ul {
            float: left;
            text-align: left;
            li {
              color: #eee;
              margin-top: 10px;
            }
          }
          div {
            color: #eeeeee;
            float: right;
            width: 255px;
            h3 {
              font-size: 24px;
            }
            .QR-code {
              background: url('../../images/content/QRcode.jpg') no-repeat;
              width: 98px;
              height: 98px;
              float: left;
            }
            .icon {
              background: url('../../images/content/icon.png') no-repeat center center;
              width: 149px;
              height: 101px;
              float: right;
            }
          }
        }
        p {
          text-align: center;
          color: #eeeeee;
          font-size: 12px;
        }
      }
    }
  }
}


@media screen and (max-width: 1250px) {
  .icon-item > a > i {
    font-size: 66px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 0 25px;
    border: none;
    border-radius: 50%;
    text-align: center;
    color: #00dfb9;
  }
  .iconlist_ul {
    display: inline-block;
    text-align: center;
  }
  .nav {
    .logo {
      a {
        font-size: 50px;
      }
      span {
        position: absolute;
        left: 50px;
        top: 0;
        font-size: 22px;
      }
    }
    ul {
      display: none;
    }
    .nav-toggle{
      display: block;
    }
  }
}

@media screen and (max-width: 950px) {
  #article {
    .section1 {
      .pages {
        .contain {
          transform: translateY(-15%);
          .on21 {
            font-size: 18px;
          }
          .on22 {
            font-size: 62px;
          }
          .on23 {
            font-size: 14px;
          }
        }
      }
      .page1{
        .contain {
          .on0 {
            width: 500px;
            .on1 {
              font-size: 150px !important;
            }
          }
        }
      }
    }
    .section2 {
      .iconlist_ul {
        display: block;
      }
      .iconlist_ul {
        width: 100%;
      }
      .iconlist_ul .icon-item {
        width: 30%;
        margin: 10px 0;
      }
    }
  }
}

@media (max-width: 800px) {
  #article{
    .section4{
      .bottom{
        .contain-activites{
          transform: translateY(-80%);
          .swiper4{
            width: 100%;
            height: 200px;
            .swiper-wrapper {
              .swiper-slide {
                width: 100%;
                text-align: center;
                h3 {
                  font-size: 18px;
                }
                div {
                  p {
                    a {
                      font-size: 16px;
                    }
                  }
                }
              }
            }
            .swiper-button-black{
              display: none;
            }
            .swiper-pagination {
              display: block;
            }
          }
        }
        .contain-bottom {
          .bottom-div {
            text-align: center;
            ul {
              display: none;
            }
            div {
              float: none;
              width: 255px;
              margin: 0 auto;
            }
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  #article {
    .section2 {
      .icon-item > a > i {
        font-size: 40px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        margin: 0 auto;
      }
      .what_do_bottom-message {
        font-size: 18px;
      }
      .what_do_title > h1 {
        font-size: 30px;
        margin: 0 0 5px 0;
      }
      .what_do_title > h2 {
        font-size: 18px;
      }
      .iconlist_ul {
        width: 100%;
      }
      .iconlist_ul .icon-item {
        width: 30%;
        margin: 10px 0;
      }
    }
  }
}

@media (max-width: 400px) {
  .icon-item h3 {
    font-size: 14px;
  }
  .nav {
    .logo {
      a {
        font-size: 30px;
      }
      span {
        position: absolute;
        left: 50px;
        top: 0;
        font-size: 22px;
      }
    }
    .nav-toggle{
      display: block;
      .bar {
        width: 20px;
        height: 3px;
        margin: 6px auto;
        border-radius: 10px;
      }
    }
  }
  #article {
    .section1 {
      .pages {
        .contain {
          transform: translateY(15%);
          .on21 {
            font-size: 14px;
          }
          .on22 {
            font-size:30px;
            letter-spacing:2px;
          }
          .on23 {
            font-size: 14px;
          }
        }
      }
      .page1{
        .contain {
          transform: translateY(-5%);
          .on0 {
            .on1 {
              font-size: 100px !important;
              margin-left: 30px;
              margin-top: 20px;
            }
          }
        }
      }
      .swiper-button-white{
        display: none;
      }
    }
  }
}
@media (max-height: 400px) {
  #article {
    background-color: #00dfb9;
    .section1 {
      .pages {
        .contain {
          transform: translateY(-40%) !important;
        }
      }
    }
    .section4 {
      .bottom {
        .contain-activites {
          transform: translateY(25%);
        }
        .contain-bottom {
          text-align: center;
          .bottom-div {
            ul {
              display: none;
            }
            div {
              float: none;
              width: 255px;
              margin: 0 auto;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}






