
/*清除全局样式*/
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

body,html {
  height: 100%;
  width: 100%;
}


/*底部样式B*/
.bottom-message {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
}
.bottom-message_content {
  height:30px;
  line-height:30px;
  text-align: center;
  padding: 15px 60px;
  background-color: #393939;
  color:#eee;
  font-family: '微软雅黑';
  font-size: 14px;
}

@media screen and (max-width: 450px){
    .bottom-message_content {
      height: 60px;
    }
}
/*底部样式E*/