.contain-bottom {
  .bottom-div {
    text-align: center;
    ul {
      display: none;
    }
    div {
      float: none;
      width: 255px;
      margin: 0 auto;
    }
  }
  p {
    font-size: 12px;
  }
}