/*清除全局样式*/
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

body,html {
  height: 100%;
  width: 100%;
}

.nav{
  background-color: #f8f8f8;
  height: 51px;
  color:#00334d;
  overflow: hidden;
  .content{
    margin-top: 10px;
   // background-color: #00dfb9;
    //position:relative;
    padding-left: 150px;
    padding-right: 20px;
    .logo{
      font-size: 27px;
    }
    ul{
      float: right;
      li{
        margin-top: 5px;
        margin-left: 20px;
        float: left;
        a{
          color:#00334d;
        }
      }
    }
  }
}